*::before, *::after, * {
    box-sizing: border-box;
}

body{
    background-color: hsl(261, 88%, 17%);
    color: hsl(261, 88%, 90%);
    text-align: center;
}
.strength-meter{
    height: 2rem;
    width: 90%;
    border: 3px solid hsl(261, 88%, 57%);
    border-radius: 1rem;
    margin: 0 auto;
    overflow: hidden;
}

.strength-meter::before{

    --strength: 20;
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--strength));
    background-color: hsl(261, 88%, 67%);
}